@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4" style="margin-top:120px; color:blue">Welcome to My Project Assessment</h1> <br>
    
    <h3>Name : Nur Aqilah Syahirah Binti Jayen Supaat</h3>
    <h3>Course : Computer Science (Computer Network and Security)</h3>
    <h3>Graduated : Universiti Teknologi Malaysia</h3>
</div>
